[2015-05-23 21:02] harlow opened #16 "Add metrics tracking"
We've implemented a swappable logger for info and errors. However, metrics about number of records processed are also being pushed to the logs. Ideally these metrics could be pushed to StatsD or InfluxDB so they could be monitored over time.

[2015-06-06 22:56] harlow opened #18 "Convert S3 Emitter to use official AWS SDK"
https://github.com/aws/aws-sdk-go/

[2015-06-06 22:58] harlow opened #19 "Investigate using official AWS SDK for Kinesis adapter"
https://github.com/aws/aws-sdk-go

[2015-08-16 05:38] harlow opened #20 "Add time based flush"
there are some circumstances where it would be nice to flush based on time. i.e. the number of records in the buffer hasn't hit the threshold but we'd like records to sit in kinesis no longer than X milliseconds.

The logic would look something like this:
1. Verify there are records in the buffer
2. Check if the number of records exceeds the buffer limit
3. Check if the elapsed time since last flu

[2015-08-21 23:09] #19 closed

[2015-11-03 00:13] ihorkhavkin opened #22 "de-aggregation interoperability with official KPL"
De-aggregation of KPL UserRecord ( https://github.com/awslabs/amazon-kinesis-producer/blob/master/aggregation-format.md ) is not supported, right?

[2015-11-03 00:23] harlow commented on #22
Hi @ihorkhavkin thanks for the link. I haven't see that before. Is there a reason to use that over the `PutRecords` batch that Kinesis supports via API?

http://docs.aws.amazon.com/kinesis/latest/APIReference/API_PutRecords.html

[2015-11-03 01:12] ihorkhavkin commented on #22
I believe AWS still charges you based on 25KB PUT payload units and also there are limits on TPS ( http://docs.aws.amazon.com/kinesis/latest/dev/service-sizes-and-limits.html 1K TPS for PUT regardless of `PutRecords` batching)

So aggregation on KPL side helps when you have smaller records. And with some latency impact it can make Kinesis bound only by bandwidth (1 Mb/s per shard on write). So if

[2015-11-06 21:01] ihorkhavkin commented on #22
http://brianoneill.blogspot.com/2015/09/kinesis-20x-cheaper-when-used-with.html more detailed write up about aggregation impact on Kinesis pricing when you have records significantly smaller than 25Kb

[2016-01-31 02:32] robbles opened #23 "Doesn't build with latest versions of dependencies"
I get the following errors when building with go 1.5.1 after running `go get github.com/harlow/kinesis-connectors`:

[code]

I think it likely does build against older versions of the deps. If you can post the versions you currently build it against, I'd be able to contribute a `gvt` manifest to install the correct ones. Or any of the other dependency management tool formats, not really set on any

[2016-02-01 18:21] harlow commented on #23
thanks @robbles will take a look at this tonight

[2016-02-01 18:50] robbles commented on #23
@harlow thanks! I'm definitely interested in using this project, so let me know how I can help.

I'm also curious about how the ezoic/kinesis-connectors fork relates to this project. Are you working together? It looks like that fork fixes these issues and adds some more features, but this version has been worked in parallel on in the meantime...?

[2016-02-03 05:14] harlow commented on #23
@robbles great question on the fork. I haven't been using Kinesis in a while so there is a good chance that ezoic's fork has some good improvements.

We worked to merge a bunch of his changes in a few months back:
https://github.com/harlow/kinesis-connectors/commits?author=superbaddude

It looks as though he's been putting a bunch more work in since then. It might be worth checking out his version

[2016-02-07 01:58] harlow commented on #23
@robbles I simplified the interface a little to feel more like the http handler package. Let me know if you need any help getting up and running. What's your use case once the data is off the stream?

The handler func takes in a `connector.Buffer` which has a `GetRecords` function which will have the records from Kinesis. From there they can be pushed to S3, aggregated, whatever needs to be done.

[2016-02-07 20:33] robbles commented on #23
@harlow thanks, I'll give it a shot. At first glance this looks much easier to use!

The main use case is aggregating individual event records in Redshift for large analytics queries, possibly Elasticsearch as well at some point.

Have you used this with multiple distinct emitters (that don't simply depend on each other like Redshift/S3)? Would it make more sense to have some kind of MultiEmitter

[2016-02-07 22:09] harlow commented on #23
Might be worth checking out the Kinesis Firehose project for S3/Redshift
integration. Looks pretty stable and reasonably priced
On Sun, Feb 7, 2016 at 12:33 PM robbles <notifications@github.com> wrote:

[2016-02-08 00:29] robbles commented on #23
I have - it looks like a great option, but sadly it's not available in the region we're running in.

[2016-02-09 03:44] harlow commented on #22
Thanks for the note about reduced pricing. For the time being I'd like to keep things simple and use string to string on and off the wire.

[2016-02-09 03:44] #22 closed

[2016-02-09 03:45] harlow commented on #18
Has been updated to use S3 SDK.https://github.com/harlow/kinesis-connectors/blob/master/emitter/s3/emitter.go#L6-L8

[2016-02-09 03:45] #18 closed

[2016-02-09 03:46] harlow commented on #23
I'm going to close this issue for the time being as the project should build correctly now. Feel free to re-open or start another issue if you run into anything else.

[2016-02-09 03:46] #23 closed

[2016-02-09 20:28] robbles commented on #23
@harlow I would still recommend having some sort of vendoring or pinning of package versions, otherwise the build is going to break again when the APIs of the third-party packages change.

I've been using https://github.com/FiloSottile/gvt as a minimally disruptive vendoring tool for this. It's possible to just commit a manifest of the current versions of packages that are in use, and ignore it wh

[2016-02-09 20:51] harlow commented on #23
Sounds great. Would def appreciate a PR for that.
On Tue, Feb 9, 2016 at 12:28 PM robbles <notifications@github.com> wrote:

[2016-03-11 21:55] harlow opened #26 "Add DynomoDB for additional checkpoint option"
A cheap and lightweight alternative to hosting a dedicated Redis instance.

[2016-12-03 19:26] jsam opened #28 "How do I change redis endpoint?"
Hello,

Thank you for great library. I'm successfully using your library in production for some time now, however we have new systems requirements where I can't have Redis running on localhost. How do I easily update Redis address without editing your library?

Thanks

[2016-12-03 21:48] harlow commented on #28
I think the redis library will look at REDIS_URL from ENV vars if it
exists.

On Sat, Dec 3, 2016 at 11:26 AM Sam <notifications@github.com> wrote:

[2016-12-03 22:03] harlow commented on #28
If that's not the case I'll add it as a config option

[2016-12-03 23:03] jsam commented on #28
Yes, I did try that before writing the post and I have also read the redis library code. Sadly, that lib is not reading anything from the env as far as I see. Their default address is private and I cannot change it directly, so if you could add a proxy option to the Checkpointer/Config type that would be awesome.

I need this kinda quick, so if you could write me what solution you would accept I c

[2016-12-03 23:24] harlow commented on #28
Gotcha. Thanks for looking into the ENV var. I

should be able to whip something up this eve. If you need something
immediately I'd suggest forking the repo and then just patching your
version until we get a fix pushed .

On Sat, Dec 3, 2016 at 3:03 PM Sam <notifications@github.com> wrote:

[2016-12-05 16:36] #28 closed

[2016-12-05 16:37] harlow commented on #16
Expvar also seems like a reasonable candidate for this; then DD or other monitoring tools can slurp in the numbers.

[2017-05-07 10:28] lchhieu opened #33 "How to using const AWS_ACCESS_KEY, AWS_SECRET_KEY instead of export ?"
i working on window should can't using export

[2017-11-20 16:25] harlow opened #36 "Scan function should poll stream and re-balance new shards"
Currently when the `Scan` function runs it queries Kinesis for each of the shard names and automatically starts processing them. However, if a user were to manually change the shard count from 2 to 3 the current implementation wouldn't process the new shard until the application is restarted.

Additional functionality:

1. poll kinesis for new/removed shards
2. kick off new process for new shards

[2017-11-20 16:26] harlow commented on #33
Hi @lchhieu sorry for the tardy reply here. I've made an update to the library which will allow you to provide your own kinesis client (configured however you'd like).

https://github.com/harlow/kinesis-consumer#configuration

Hope this helps!

[2017-11-20 16:26] #33 closed

[2017-11-20 16:27] harlow commented on #20
no longer relevant, the callback is called for each record now

[2017-11-20 16:27] #20 closed

[2017-11-21 00:53] #26 closed

[2017-11-27 00:07] harlow opened #39 "Add buffer to DDB Checkpoint"
Been struggling a little with what the "right" solution is for checkpointing.

There were a few options:

1. Checkpoint after each record is processed successfully
2. Checkpoint when the "cancel" has been sent to pipeline

These have some competing issues:

* If we checkpoint after each record the backend will need to be able to handle a ton of traffic (not a problem for Redis), but will create ho

[2017-11-27 08:24] ligustah commented on #39
The KCL from amazon leaves the decision of when to checkpoint to the actual handler/consumer. I think it makes sense in so far as it depends mostly on your application's specific requirements. For some high volume applications checkpointing on a time interval may be the best option, while other applications might need to checkpoint after each individual record.

[2017-12-02 17:34] harlow commented on #39
Ok cool, that sounds totally reasonable. So maybe the setup can look something like this:

[code]

Then the checkpoint implementation will be responsible for flushing when the thresholds are met.

[code]

For the DDB case the `Set` could add to the buffer and the checkpoint will be responsible for flushing the buffer.

Feels like an additional `Close` func might be nice part of the interface then

[2017-12-31 04:21] #39 closed

[2017-12-31 04:24] harlow commented on #16
metrics option has been added

[2017-12-31 04:24] #16 closed

[2018-02-09 04:44] sinnawat opened #41 "I've got syntax error: unexpected = in type declaration"
I've got error while installation.
`
github.com/harlow/kinesis-consumer/consumer.go:14: syntax error: unexpected = in type declaration
`

Is your code are required GO Version 1.9+?

[2018-03-02 19:31] bryanpaluch opened #42 "support for multiple consumers across shards"
Do you have any plans that would allow scaling this out across multiple processes which access multiple (but different) shards? I believe the checkpoint package would need an interface for locking access to a shard.

[2018-03-14 03:01] harlow commented on #41
Hi @sinnawat yes this leverage Go 1.9 type aliases
https://golang.org/doc/go1.9#language

[code]

I chose to do this so the consumer application didn't need to explicitly import the aws library when using the `Scan` function:
https://github.com/harlow/kinesis-consumer/blob/master/consumer.go#L114

[code]

Instead of:

[code]

[2018-03-14 03:10] harlow commented on #42
hi @bryanpaluch there is the option to use `ScanShard` to scan a single shard.
https://github.com/harlow/kinesis-consumer/blob/master/consumer.go#L156-L159

In this case each process would need specify the shardID before kicking off the scan:

[code]

The checkpointing should work as expected (as the `Scan` just kicks off a `ScanShard` for each shard in a goroutine).

I created a placeholder for t

[2018-03-14 03:15] harlow commented on #41
I'll close this for the time being; if the 1.9 dependency is an issue I could be open to the discussion of removing the type alias. It may very well be a case of [YAGNI](https://martinfowler.com/bliki/Yagni.html).

[2018-03-14 03:15] #41 closed

[2018-03-16 18:30] melugoyal commented on #42
+1 it would be nice for consumers to lock a shard that they are reading from without having to explicitly assign shards to consumers.

[2018-03-16 19:20] melugoyal opened #43 "support for more granular return values from the consumer callback function"
right now, the only way to not checkpoint a record is to return false from the callback function passed to the consumer. this also ends the scan for that shard. however, there are times when a consumer will want to not checkpoint, but continue scanning the shard. this would be useful if there was an error processing that particular record but there are more records to process in that shard.

this

[2018-03-19 06:23] harlow commented on #42
Trying to unravel the desired functionality here a little... Seems like there are two ways to consume the stream:

1. Consumer scans all shards
2. Consumer scans some arbitrary number of shards

For the latter case there would need to be some type of co-ordination between the consumers so they don't try to pick up the same shards. This would be akin to a "consumer group" which would need to store

[2018-04-16 17:51] mikeholmesuk opened #45 "Usage of `withClient()`"
Hi,

Firstly, thanks for putting this library together and releasing it. The efforts are much appreciated 👍

Secondly, I'm a relative newcomer to `go` so please forgive any ignorance I may display in asking this. I have a question about the usage of `withClient()`. Looking at the docs it seems to suggest that I can create a new `kinesis` client (as in from `github.com/aws/aws-sdk-go/service/kinesi

[2018-04-28 01:35] pims commented on #45
I’m having the same issue.

The following code doesn't not let us configure the underlying Kinesis client:

[code]

it’d work if we could pass in the `kinesis.Kinesis` dependency ourselves. Something like:

[code]

that way, we can configure it however we need.

Another option would be to make `svc` publicly accessible

[code]

Happy to submit a PR if you think it's a good approach.

[2018-04-28 05:15] harlow commented on #45
hopefully w/ #46 merged this issue should be addressed. feel free to re-open if anything else arises

[2018-04-28 05:15] #45 closed

[2018-06-08 15:47] etsangsplk commented on #43
@harlow
Marked this issue solved and the associated PR closed??

[2018-06-19 13:17] imaramos opened #57 "Logging, new Logger interface"
This is more a question than a  issue
I have noticed that recent changes on logging created the need to implement the interface
`// A Logger is a minimal interface to as a adaptor for external logging library to consumer
type Logger interface {
	Log(...interface{})
}`
Why not follow the convention and use Println() or even Info() in order to avoid the need of
creating a wrapper that as the Log met

[2018-06-22 19:41] etsangsplk commented on #57
There is a lack of consensus of what logger looks like the standard one provided by go is different from alog, uber zap log & glog (some of that doe snot have Println implemented for example, all of which are in use at my place), which people want to use for their own project whatever reasons.
So this adapter is at least give user a choice. Yea I know it is a bit of a mark there too on the wrapper

[2018-06-22 19:51] imaramos commented on #57
Right but perhaps a more common method should be easier because on exceptions like you mentioned we can make a wrapper, but most of the times you wouldnt need it. Dont you agree?

[2018-06-22 22:18] etsangsplk commented on #57
On the contrary, we never use the standard logger but as a fallback as a last resort, all normal logging goes to  some  with higher performance (GC etc) etc.

So if you find a way that neither side need to change code that will be great.

[2018-06-23 04:33] #43 closed

[2018-06-23 04:44] harlow commented on #57
Yep, tend to agree w/ that sentiment.

Looking around a little I found this which resonates with the comments from @etsangsplk
https://github.com/go-log/log#rationale

[2018-06-23 14:09] imaramos commented on #57
I understand @etsangsplk, and you are right, there isnt a standard out there.
At least perhaps the most used libraries have the "Info" melthod and perhaps it could do here(not saying this would be the best thig to do).
https://github.com/sirupsen/logrus/blob/master/logger.go
https://github.com/golang/glog/blob/master/glog.go
https://github.com/op/go-logging/blob/master/logger.go
https://github.com

[2018-06-23 20:13] etsangsplk commented on #57
@imaramos
That was also my initial reaction when I did that PR.  I did not like the adaptor either myself either.
 At that point, it was more like get that done with as little code as possible , looks like others are using similar pattern (delegate to crowd wisdom), does not involve big change in the kinesis consumer repo itself (since it is not my repo and others are using it).
As long as it does

[2018-06-24 13:57] #57 closed

[2018-07-21 06:12] vincent6767 commented on #57
@etsangsplk
I am wondering what is the LoggerFunc used for in the commit: 739e9e39a585370c09c21aca94afc96b47225b22. I want to add a comment but I am not quite sure what's the purpose.

[2018-07-22 18:21] etsangsplk commented on #57
@vincent6767 put my comment there
https://github.com/harlow/kinesis-consumer/commit/739e9e39a585370c09c21aca94afc96b47225b22

[2018-07-23 13:19] diogoo296 commented on #45
Hello,

I'm also new to Go but I believe I'm experiencing the same issue.

Here is my code (following the docs to [override the Kinesis client](https://github.com/harlow/kinesis-consumer#client)):

[code]

Which returns the following error:

[code]

[2018-07-23 14:37] vincent6767 commented on #57
@etsangsplk Thank you for the notification.

[2018-07-23 14:46] vincent6767 commented on #36
@harlow
A question. How do you handle the polling?

[2018-07-29 06:02] harlow commented on #36
I suspect it would need to be in a goroutine w/ a ticker that checks the available shards every few seconds.

[2018-09-02 15:29] vincent6767 commented on #36
@harlow
Turns out that we are able to detect the re-sharding by using the `NextShardIterator` field as documented [here](https://docs.aws.amazon.com/streams/latest/dev/kinesis-using-sdk-java-after-resharding.html#kinesis-using-sdk-java-resharding-data-routing). What do you think if we check for the new shards only if there is a closed shard instead of polling every X seconds? A closed shard indica

[2018-09-10 22:11] etsangsplk opened #67 "Use aws api that accepts context as first parameter. Opentracing integration requires context as first parameter for propagation"
Opentracing relies on context that encap span metadata inside context to flow through in or out of process boundaries, components etc
I understand that that means breaking change, AWS SDK go offers a parallel set of API that incoporates ...WithContext. See below
https://github.com/aws/aws-sdk-go/blob/master/service/cloudformation/cloudformationiface/interface.go

Or you can carry context in the st

[2018-09-18 13:55] keperry commented on #42
@harlow and @vincent6767 - I would like to help with this feature.  Do you guys already have an interface in mind or any other design considerations?

[2018-10-06 14:44] harlow commented on #67
hi @etsangsplk can you give a code example of where you'd like to pass the context? i'm fine w/ a breaking change if it makes the library easier to work with and encourages good metrics

[2018-10-22 20:42] mguidone opened #70 "ddb checkpoint fails on initial call from scan if it was never written before."
The call to resp, err := c.client.GetItem(params) returns an ErrCodeResourceNotFoundException if no entries are in the dynamo table. It looks like this should test for that condition and based on the convention in the code return  "", nil .

[2018-10-22 21:38] mguidone commented on #70
false alarm..

[2018-10-22 21:38] #70 closed

[2018-10-31 01:36] xzyfer opened #71 "Please tag new release"
Go modules is default to the v0.2.0 rather than master.

[2018-11-06 23:09] etsangsplk commented on #67
Found a way to hook into aws session,
https://github.com/harlow/kinesis-consumer/pull/72

[2018-11-21 11:50] dcelasun commented on #42
Twitch's [kinsumer library](https://github.com/twitchscience/kinsumer) does this, it might give some ideas.

[2018-12-28 17:31] servocoder opened #74 "ShardIteratorType - LATEST"
I see ShardIteratorType is hardcoded to "TRIM_HORIZON" in case of no sequence number is specified.

Is there a way I can use the "LATEST" ShardIteratorType along with `SkipCheckpoint: true` option?

This seems works well in order to fetch the latest records without using a checkpoint. I assume I missed an important point why should I use TRIM_HORIZON with checkpoint instead of this simple solution

[2018-12-28 18:47] harlow commented on #74
Hi @servocoder good question.

I don't have a good reason for it. It's just the way i've used the library in the past. As you mentioned having a configurable `ShardIteratorType` might be something worth exploring.

It's something we could potentially add as an additional config option:

[code]

and then here:
https://github.com/harlow/kinesis-consumer/blob/master/consumer.go#L257-L262

[code]

So

[2018-12-28 18:49] harlow commented on #74
I feel like this would be nice functionality for the library; feel free to submit a PR, or if you'd like me to get this added I can probably do it over the weekend.

[2018-12-28 18:53] harlow commented on #71
Good call. Thanks for the reminder @xzyfer. Here is a new tagged release: https://github.com/harlow/kinesis-consumer/releases

[2018-12-28 18:53] #71 closed

[2018-12-29 03:41] #74 closed

[2018-12-29 19:23] harlow opened #75 "Refactor the Scan public interface"
As library has evolved to meet the custom needs of its users, the customizations have leaked into the public interface of the scan func. It has lead to a somewhat verbose interface with the concept of `ScanStatus` which wraps logic around checkpointing and flow control of the scan + errors.

__Current scan interface:__

[code]

I'd like to unravel the ScanStatus to simplify the callback func. If p

[2018-12-29 19:32] harlow commented on #75
A few loops from stdlib for inspiration

## File Walkpath
https://golang.org/pkg/path/filepath/#Walk

[code]

## CSV reader
https://golang.org/pkg/encoding/csv/#Reader

[code]

[2018-12-30 00:11] harlow commented on #75
If we were to take a page out of the `filepath.Walk` book, we could create a custom error types for `StopScan` and `SkipCheckpoint` to simplify the interface:

[code]

[2018-12-30 15:36] harlow opened #76 "Add integration tests with kinesalite"
The current tests use a mock kinesis client, it would be nice to have a few end-to-end tests running locally against https://github.com/mhart/kinesalite

[2018-12-30 16:51] sharonjl commented on #75
Here is an alternative, similar to HTTP handlers.
[code]

[2018-12-30 17:42] sharonjl commented on #75
I think the Iterator interface is a better alternative as it will provide extensibility into other features such as embedded context, for deadlines and timeouts, or even future Kinesis features. I personally believe we should limit the use of error codes as flags for control flow in libraries. :)

[2018-12-31 01:46] harlow commented on #75
Totally agree. Thanks for sharing the idea of an iterator that can be passed in. Def interesting.

After reading your note I looked back into the consumer code to see what flow control is currently supported; it looks like the inner loop already supports cancellation through context which means the `StopScan` probably isn't needed.

https://github.com/harlow/kinesis-consumer/blob/master/consumer.g

[2018-12-31 03:42] sharonjl commented on #75
Yes~ I think that works out well for cancellation:
[code]
I wanted to propose some minor changes after thinking about this a bit more.
[code]
I noticed SkipCheckpoint and StopScan are acted upon after the current scan is complete, so I figured for clarity we should prefix them with `Should`

[2019-01-02 01:15] etsangsplk commented on #67
Close until PR status is known

[2019-01-02 02:34] harlow commented on #67
Hi @etsangsplk while overall I think https://github.com/harlow/kinesis-consumer/pull/72 looks good. I've been trying to get my head around if we need all the open-tracing code scattered around the repo. Or if there is a way to have a `Tracer` interface that we can optionally pass in (like we do w/ Counter, Logging, Etc)

[2019-01-03 17:12] imaramos commented on #36
Hello @harlow, I am also facing this issue, do you have devolpment on this?
Thank you.

[2019-01-04 06:49] harlow commented on #36
I have a wip branch that still needs some work and lots of testing:
https://github.com/harlow/kinesis-consumer/compare/hw-reshard?expand=1

hopefully will have something up for review in next few days

[2019-01-04 14:24] imaramos opened #78 "Cancelation when one of the Shards is closed"
https://github.com/harlow/kinesis-consumer/blob/2f58b136fee036f5de256b81a8461cc724fdf9df/consumer.go#L146

The cancel in this line is intended? Doing this cancel() we will cancel all ScanShard routines, even if one of them returned nil because the shard was closed.

Example:
We have the folowing routines:
ScanShard (shard1)
ScanShard(shard2)

If the shard1 is closed  then the routine returns nil a

[2019-01-06 14:16] etsangsplk commented on #67
@harlow there are a few things here:  1) whether you want context is useful as the first parameter; for example if cancellation is on the radar, lots of work would have been done. 2) tracing is stil quite manual and it is more conventional to have user to explicitly deal with spans and packaged such into context to the next level. That also implies following the convention of havinf context as fir

[2019-01-15 05:39] fuzzy31u opened #79 "Add options for db number in the redis checkpoint?"
Hello thank you for your great work.

I want to add option such as database number in redis checkpoint.
`&redis.Options` accepts `DB` so could you enable to set?
https://github.com/harlow/kinesis-consumer/blob/master/checkpoint/redis/redis.go#L19

Or when we pass url schema like `redis://:qwerty@localhost:6379/1` then could you parse with this `ParseURL` method?
https://github.com/go-redis/redis/b

[2019-01-26 20:43] imaramos commented on #78
@harlow I did this change https://github.com/imaramos/kinesis-consumer/commit/0a132b1b5320f1bc1cf9a748dac74fc87eb53f0b, but I am not sure if it is the right solution.

[2019-01-28 05:33] lordfarhan40 opened #80 "getShardIDs returns 100 shards at max"
getShardIDs use "DescribeStream" just once which in turn only return 100 shards at max.
We need to call DescribeStream a few times to get all the shards, something like this [Retrieving Shards](https://docs.aws.amazon.com/streams/latest/dev/kinesis-using-sdk-java-retrieve-shards.html)
**Reference:**
https://github.com/aws/aws-sdk-go/blob/master/service/kinesis/api.go#L3891

[2019-02-03 03:41] harlow commented on #80
nice catch, so it looks like `ListShards` supports pagination

[code]

Which means that we could loop over the pages of shards

[2019-02-03 06:18] lordfarhan40 commented on #80
Yes, we can iterate over the response and keep adding the shards. I will start working on the fix.

[2019-02-15 04:45] #80 closed

[2019-02-18 05:22] harlow commented on #79
Hi, thanks for the note. Would it be helpful to be able to pass your own Redis client in?

[code]

[2019-02-18 05:24] harlow commented on #78
interesting; yeah good catch. I think this must be a bug. I don't think it makes sense to cancel unless an error has occurred.

[2019-02-18 07:45] imaramos commented on #78
So can you fix it or do you prefer me doing a PR?

[2019-02-18 15:59] #78 closed

[2019-03-21 07:41] CcccFz opened #84 "Start from the ending of the stream each time"
Thank you for your great work !

When checkpoint is no-op, is the consumer any way to start from **the ending of the stream** each time it is re-started ?

Thank you.

[2019-04-08 05:03] #75 closed

[2019-04-08 05:05] harlow commented on #79
i'm going to close this issue for the time being, please feel free to reopen if you'd like to discuss passing a client in

[2019-04-08 05:05] #79 closed

[2019-04-08 05:12] harlow commented on #84
Hi, thanks for the question. Sorry for the tardy reply.

Here are the options for where to start in the stream:
https://docs.aws.amazon.com/kinesis/latest/APIReference/API_GetShardIterator.html

The current default behavior is to start at the beginning of the stream:
https://github.com/harlow/kinesis-consumer/blob/master/consumer.go#L30

If you'd like to read from the latest point in the stream yo

[2019-04-08 06:03] fuzzy31u commented on #79
Hi I'm sorry I didn't notice your reply.
Yes your suggestion looks helpful.

[2019-04-08 08:01] CcccFz commented on #84
@harlow  Thanks for your reply.
It works as you say. I'm closing this issue for now, thanks.

[2019-04-08 08:01] #84 closed

[2019-04-09 04:25] harlow opened #86 "Document the starting place for consumer on stream"
* show how to override
* update to latest (trim horizon could be confusing and unexpected)

[2019-04-10 05:03] #36 closed

[2019-04-10 05:12] #86 closed

[2019-06-12 20:55] jasonpepper opened #92 "GetRecords Errors are Masked"
I initially ran this against a stream for which I did not have GetRecords permission. So the GetRecords call would fail, but the GetShardIterator call would succeed. And it would repeat this over and over. Eventually, I would receive a ProvisionedThroughputExceededException. But since there were no log messages for the GetRecords errors, I had a lot of trouble figuring out why it was failing. I su

[2019-06-12 21:04] jasonpepper opened #93 "Checkpoint Set Error Causes Scan to Exit"
While using the redis checkpoint module, I received the following error: shard shardId-000000000000 error: EOF. I believe this error message came from the redis checkpoint Set() method. This caused the Scan function to exit. I think it would be better if it retried the checkpoint Set() method a few times. You might also consider updating the redis library being used.

[2019-06-13 16:48] harlow commented on #93
thanks for the note, I'll take a look at this over the weekend 👍

[2019-07-13 00:33] dema501 opened #94 "It wont work if I have no permissions to ListShardsInput"
Hello

I use assume role to initiate session to kinesis from different account and it has very strict access policy.

So, when I call kinesis.ListShardsInput I've got an error and everything stops working

but, good things is I know shardID =1  that I can listen ...
and when hardcode returns in consumer.listShards everything starts working for me...

I wonder if you can add callback func for listS

[2019-07-29 04:25] harlow commented on #94
Hi @dema501 thanks for submitting these issues. Lemme put some thought into this one, the `AllGroup` is a recent addition and I expect there will be some moving parts over the next week or two.

are you passing a slice of ID's?

[2019-07-29 04:31] harlow commented on #92
Great catch; so I believe this issue is caused here:
https://github.com/harlow/kinesis-consumer/blob/master/consumer.go#L149-L150

So instead of immediately calling `c.getShardIterator` we should check the error type and if it's non-recoverable then exit.

[2019-07-29 04:46] harlow commented on #94
I added a `WithGroup` option so you can provide your own group: https://github.com/harlow/kinesis-consumer/commit/5da0865ac1895bacf8de435bc6f39c9b311d2012

Wondering if you could do something like this:

[code]

[2019-07-31 02:48] #92 closed

[2019-08-07 05:24] harlow commented on #94
Going to close this for time being. Feel free to re-open if the `staticGroup` idea doesn't work

[2019-08-07 05:24] #94 closed

[2019-08-08 17:44] nickpoorman opened #97 "Enhanced Fan-Out"
Thoughts on supporting enhanced fan-out? https://docs.aws.amazon.com/streams/latest/dev/introduction-to-enhanced-consumers.html

[2019-08-09 10:20] sauraz opened #98 "Kinesis sharIterator does not recover when out of retention period"
When I have no data in my stream for 1 day (which is the retention period) and data comes up on day2. The shard iterator does not read the data and stays out of retention period even if there is data present in the shard.

@harlow  Can you suggest any workaround for this for the shard iterator to recover?
If I restart my consumers the recover back from the retention period.
I use `ShardIteratorTyp

[2019-08-22 03:28] ashanbrown opened #101 "in-memory checkpoint?"
Locally, I'm using an in-memory checkpoint store that I use in tests that looks like:

[code]

This is rather similar to fakeCheckpoint (which usies a mutex instead of sync.Map) at https://github.com/harlow/kinesis-consumer/blob/14db23eaf34c2d559a90fa985beea710a831d10b/consumer_test.go#L339.

I'm just wondering if you'd consider promoting this to be part of the API.  The use case I have is that ki

[2019-09-01 14:30] harlow commented on #101
Hi @ashanbrown  thanks for the note.

I think this feels like a nice addition to the package (and then we can probably remove the fakeCheckpoint in favor of this one in the tests). You mentioned it might not need to be it's own package, and while I think there is merit to that; I also like the idea of having it be discoverable for anyone looking at `store` directory.

How do you feel about putting

[2019-09-01 14:32] harlow commented on #98
Thanks fo the note @sauraz, apologies for the late reply. I'll need to try to replicate this locally so I can find a work around 👍

[2019-09-03 04:34] harlow commented on #76
Updated the example code to run agains Kinesalite
https://github.com/harlow/kinesis-consumer/commit/ed40b5d9b44b5404a00e200fdfdad46dc0308926

[2019-09-03 04:34] #76 closed

[2019-09-08 20:13] #101 closed

[2020-03-12 22:13] pradeepkusingh opened #107 "Unable to get external REDIS working"
I have tried to use the external redis by passing below ULR in REDIS_URL env variable and getting errors

store error: dial tcp: address redis://:qwerty@localhost:6379/1: too many colons in address

Please help.

[2020-03-12 23:08] pradeepkusingh opened #108 "Is it possible to increase the polling time??"
How can I increase poll time?

[2020-03-12 23:10] pradeepkusingh commented on #108
seems below should fix my query

/ WithScanInterval overrides the scan interval for the consumer
func WithScanInterval(d time.Duration) Option {
	return func(c *Consumer) {
		c.scanInterval = d
	}

[2020-03-18 15:18] jasonpepper opened #109 "ListShards Failure With Large Number of Shards"
If you have a stream with a large number of shards, you get an error that says, "[BROKER] ListShards error: InvalidArgumentException: NextToken and StreamName cannot be provided together."

The AWS docs say, "Don't specify StreamName or StreamCreationTimestamp if you specify NextToken because the latter unambiguously identifies the stream."

https://docs.aws.amazon.com/kinesis/latest/APIReference/

[2020-03-26 12:08] #108 closed

[2020-03-26 12:31] pradeepkusingh opened #111 "checkpoint error: ValidationException: The provided key element does not match the schema"
I am using dynemodb consumer provided in examples and provided info about my aws config. This is an effort to replace existing java consumer, while doing so getting below error.

(EXTRA *errors.errorString=shard shardId-000000000000 error: get checkpoint error: ValidationException: The provided key element does not match the schema

[2020-03-30 05:55] #107 closed

[2020-03-30 05:55] #111 closed

[2020-03-31 22:39] slydon commented on #109
The documentation is wrong, it is definitely 1,000 shards.

[2020-04-06 13:29] jney opened #112 "PutRecords"
As I decided to update my producer from `PutRecord` to `PutRecords` it doesn't work anymore.
I just saw this ticket #22 many years ago. Is it supported now?
Thank you

[2020-04-28 04:16] harlow commented on #112
Hi @jney sorry to hear you are having issues with the consumer. Are you using the standard `PutRecords` functionality from the AWS SDK? if so everything _should_ work as expected.

The sample producer in this repo uses `PutRecords` and the consumer has historically worked correctly with the produced data:

https://github.com/harlow/kinesis-consumer/blob/master/cmd/producer/main.go#L88-L91

[2020-04-28 04:16] harlow commented on #112
Please let me know if you are still having issues and I can try to help debug

[2020-04-30 09:38] jney opened #114 "multiple client"
Hi. Probably a misunderstanding, but I thought that if I had multiple consumers, they will read distinct messages from queue. But it appears that are reading same messages.
How could I achieve this?

[2020-05-05 14:12] harlow commented on #114
Correct the library currently doesn’t support consumer groups (that auto balance shards)

It’s supports two strategies:

1. Consumer scans all shards
2. Consumer scans single shard (you must provide the shard ID)

[2020-05-08 02:38] yeoji commented on #42
Are there any updates on this? Saw that this is being worked on in the `README`. Any ideas when it would be available?

[2020-05-08 03:38] harlow commented on #42
Hi @yeoji I'm afraid we lost traction on it. I'll remove that notice from the README for the time being

[2020-05-13 18:15] jney commented on #112
doing this:

[code]

I have something like this:

[code]

Instead of having a string representation of my json as I used to have using `PutRecord`

[2020-05-27 15:24] anton-pfc commented on #114
@harlow Do I understand correctly that it's impossible to consume a message only once if I'm running 10 instances? Currently what I observe in my tests - if I run 10 instances with the same appName - every message is consumed 10 times. Do you know a workaround for that? How did you implement "at-least-once" semantic in you system?

[2020-05-30 04:38] harlow commented on #114
@anton-pfc sorry if there is confusion here; there isn't a way to run 10 consumer apps all with `Scan` func and not have them all consume the same records.

If you want to run 10 instances you'll need to pass the shardID to each of the individual consumers with the `ScanShard` func

the `Scan` func will automatically scan all shards from the given checkpoint

[2020-06-07 20:53] harlow commented on #112
@jney do you have a snippet of the producer loop you are using? I was able to replicate some issues when using `scanner.Bytes()` and using `PutRecords` wondering if these could be related

[2020-06-23 06:39] prashantssingh opened #115 "undefined functions -- consumer.WithMaxRecords and consumer.WithScanInterval"
I am tring to intialise kinesis consumer by passing configurations to the option interface in consumer.New()
For WithClient(), WithShardIteratorType(), it works perfectly. But for some reason, WithMaxRecords() and WithScanInterval() fails with error "undefined".

Below is the code sample Im using for initialisation:
[code]

I am not sure what I am doing wrong or missing out that initialisation wor

[2020-06-24 20:33] adamcypher opened #116 "The timestampInMillis parameter cannot be greater than the currentTimestampInMillis"
using:
[code]

I've had to increase our grace period from 30 seconds 60 seconds to account for clock skew between our environments and Kinesis.

```initTimestamp := time.Now().Add(-time.Second * 60)```

It would be cool if the library would detect this error and readjust the timestamp by parsing the differential of the values returned in the error message, and retry. I'll consider making a PR if n

[2020-06-24 23:36] harlow commented on #115
hi @patstrom would you mind seeing which version of the consume you have in go mod (sha)? both of those config options were added recently I think... so maybe using older version of the repo?

[2020-06-25 07:41] patstrom commented on #115
[code]

[2020-06-25 23:43] harlow commented on #115
Great point! the last Tag was created in 2019. I've cut a new tag that should include all of the new initializers. @prashantssingh I'll close this for now, but please feel free to re-open if you are still having issues.

[2020-06-25 23:43] #115 closed

[2020-06-25 23:54] harlow commented on #116
Cool idea! if you have time to make a PR that would be amazing ❤️

[2020-07-06 04:57] prashantssingh commented on #115
Hi, sorry for loss of communication on my end. And yes, updating the tag to 0.3.4 did solved the problem. Thank you so much for the help.

[2020-07-06 14:59] mycrEEpy opened #117 "Update aws-sdk-go to at least v1.23.13 for OIDC web identity token"
When using the `kinesis-consumer` library in EKS it's best practice to use OIDC web identity token for authentication to AWS.

We need a minimum aws-sdk-go version of v1.23.13 to use [this feature](https://docs.aws.amazon.com/eks/latest/userguide/iam-roles-for-service-accounts-minimum-sdk.html)

Latest version (as of now) would be [v1.33.1](https://github.com/aws/aws-sdk-go/releases/tag/v1.33.1)

[2020-07-06 15:40] harlow commented on #117
Let’s get the AWS SDK updated and cut a new tag

[2020-07-22 03:27] #117 closed

[2020-07-30 03:16] jtackaberry opened #120 "How to obtain ShardID from within ScanFunc?"
I need to implement custom checkpointing by manually calling `SetCheckpoint()` after some asynchronous processing of the consumed Kinesis events has completed.

The problem is that the ScanFunc only receives `kinesis.Record` which has the partition key, but not the shard id, so I'm not able to invoke `SetCheckpoint()`.

Is there a way for the ScanFunc callback to somehow discover the corresponding

[2020-07-30 04:17] harlow commented on #120
Hi @jtackaberry unfortunately no, there currently isn't a way to get the shardid from the record. the layer of abstraction wasn't designed to support this.

trying to get my head around whether doing something like this could make sense. or if there is an easier way to weave the `ShardID` through to your callback func

[code]

[2020-07-30 04:30] jtackaberry commented on #120
@harlow this seems like a pretty nice solution, exposing the shard id while also maintaining backward compatibility. I could test this out and submit a PR if you're amenable.

This beats, by a large margin, what I'm currently doing, which is to implement a custom Storage that wraps the supplied DDB Storage, intercept SetCheckpoint() and rather than calling out to the underlying DDB layer, maintain

[2020-07-30 04:46] harlow commented on #120
yeah sounds great. i'm game to merge that in if it feels good

[2020-07-30 04:50] jtackaberry commented on #120
Great. I have it working now. Will do a bit of testing tomorrow and fire off a PR. Thanks!

[2020-07-31 00:17] jtackaberry commented on #120
Closing now that #121 is merged.  Thanks for the insights, Harlow.

[2020-07-31 00:17] #120 closed

[2020-08-01 21:44] harlow commented on #112
I'm going to close this for now, but please let me know if this continues to be an issue. Feels like an issue w/ the Producer and not the consumer

[2020-08-01 21:44] #112 closed

[2020-08-04 20:34] jtackaberry opened #125 "Consumer (possibly) stuck if sequence # refers to expired data"
I have the following scenario:
1. Kinesis data stream with 24 hour retention
2. A previous run of kinesis-consumer with a checkpointed sequence number
3. kinesis-consumer stopped for > 24 hours such that the stored sequence number refers to expired data

Now I find that upon restarting the consumer, it continues to read 0 records with MillisBehindLatest remaining at 86400000 (24 hours).  The shard

[2020-08-04 20:39] jtackaberry commented on #125
Another noteworthy thing about this is that it would require an additional permission on the stream for `kinesis:DescribeStreamSummary` (or `kinesis:DescribeStream*`), so given that it may need to be opt-in.

[2020-10-22 19:43] thestephenstanton commented on #114
@harlow Out of curiosity, was there a reason you didn't implement a way for this thing to be able to run multiple clients looking at the same stream? And basically "gossip" via the store to see who has what shard? I know it is easier said than done, just curious if there was really more to it and it wasn't worth it.

[2020-12-16 07:23] epociask opened #128 "Interval Batching for Separate Callback Function"
It would be amazing to have a separate functionality with an auxiliary callback function that instead takes a slice of records as its parameter to allow for processing of a batch records upon some time elapsed interval.  It could be passed through an additional scan function called something like `ScanBatch`.  It would invoke the reading of records from kinesis and pass them through a callback fun

[2020-12-17 05:42] harlow commented on #128
Hi thanks for the note. Agree that could be a nice interface. I've just used a channel in the callback func in the past, but agree this would be a little cleaner

[2020-12-17 21:04] epociask commented on #128
Thank you so much for the response, I opened up a PR for this.  If you could please review it and let me know what particular needs changing that'd be incredible. Looking forward to help contribute to this awesome library :)

[2021-02-16 17:12] jonandrewj opened #131 "Add the ability to handle more errors without closing the consumer"
I've been looking at some of our error logs when using this library and noticed a good number of what just appears to be maybe flakiness in the aws kinesis library or just unhandled networking errors.
err.Error() == "shard shardId-000000000822 error: get records error: send request failed"

As a short-term solution, we ended up just wrapping the consumer initialization in a for loop and restarting

[2021-02-24 19:16] jonandrewj commented on #131
Added https://github.com/harlow/kinesis-consumer/pull/132 to address option 1.

[2021-02-25 22:57] #131 closed

[2021-07-28 17:31] jonandrewj opened #133 "[Question] Shard Closed Information"
I implement a custom `consumer.Store` to manage the checkpoints. For observability, I keep track of the most recent consumed item on each shard and produce some metrics for those. Unfortunately, when a shard is closed, my application currently doesn't have a way of knowing this unless I reproduce the shard iterating logic to determine if we reached the end of a closed shard. The metrics for those

[2021-07-29 22:13] jonandrewj commented on #133
I had a thought today that maybe this functionality would be valuable to a consumer that isn't using a consumer.Store or that wants to use one of the built in options from the library and then implementing the extra interface{} on the consumer.Store would be awkward.

So maybe option 1 is best because the callback can be completely separate from the consumer.Store.

[2021-07-30 17:21] harlow commented on #133
Thanks for the thoughtful issue and follow up. The Versioning of modules was an interesting read.

I think I agree that this functionality could be interesting outside of Store and would def be the path of least resistance wrt backwards compat etc.

[2021-07-30 17:22] harlow commented on #133
If you're game to PR that in I can get it merged for you

[2021-07-30 17:50] jonandrewj commented on #133
Perfect! I'll make a PR for option 1

[2021-07-30 20:03] jonandrewj commented on #133
Here's that PR: https://github.com/harlow/kinesis-consumer/pull/135

I couldn't decide between an interface and a typed function to use as the argument to WithShardClosedHandler. I'm happy to switch it to just a function if you have a preference. That might be more flexible for users 🤷.

[2021-07-30 21:00] jonandrewj commented on #133
After some thought, I think the typed function is more flexible for the user. I added a commit to switch to that.

[2021-08-03 14:30] #133 closed

[2021-08-10 14:03] AkiraTamai opened #136 "ErrSkipCheckpoint is not functioning"
Nice to meet you, here is the issue report.

I think that not enabled to skip SetCheckpoint in the case of ScanFunc return value(ErrSkipCheckpoint).

The following code was confirmed.

[master/consumer.go#L202-L210](https://github.com/harlow/kinesis-consumer/blob/master/consumer.go#L202-L210)
![image](https://user-images.githubusercontent.com/1375301/128880113-0fa7c47e-e2c5-4db5-9dbd-6734f1349508.

[2021-08-11 07:20] tamai-cg commented on #136
Sorry. I was mistaken. Please close. functioning.

[2021-08-11 07:22] #136 closed

[2021-08-11 07:22] harlow commented on #136
Thanks for the note 👍

[2021-08-12 20:57] akrantz01 opened #138 "Update to or support AWS SDK v2"
Would it be possible to either update to or add support for the new [AWS Go SDK v2](https://aws.github.io/aws-sdk-go-v2/docs/)?

It may be possible to add support by creating an interface that matches both the v1 and v2 versions of the Kinesis client. However, there would undoubtedly need to be some in-between types that might cause issues, especially for the public API staying backward-compatible

[2021-08-13 01:19] harlow commented on #138
Yeah great call. Will take a look

[2021-09-02 18:27] harlow commented on #138
I have a WIP branch running; looking like it's going to be a pretty hefty update. Hopefully can keep it backwards compatible but might need to cut a new version of the lib

[2021-09-02 20:12] akrantz01 commented on #138
Sounds good. Thanks for working on this! :smiley:

[2021-09-07 15:37] aabouelleil-seniorlink commented on #138
Just +1'ing this because we also have a need for a V2 compatible version. Is there any ETA on the update?

[2021-09-08 02:48] harlow opened #140 "Convert tests to use Docker Compose"
Using docker compose will allow us to spin up Redis, DDB Local, Kinesis Lite and test against those implementations

[2021-09-22 05:00] #138 closed

[2021-11-05 04:13] tiagomelo opened #142 "Error when saving to DynamoDB"
Hi,

I'm using DynamoDB as storage. After inspecting the source code and putting some debug printing, I've found out this error on `func (c *Checkpoint) save() error` from `ddb.go`:

[code]

the item is correctly fulfilled (I've printed out `namespace`, `ShardID` and `SequenceNumber`, all of them are valid):

[code]

My table has everything it needs as instructed:

[code]

Any clue? Thanks.

[2021-11-05 12:33] tiagomelo commented on #142
Hi, I've figured out what is happening.

At `item` struct (https://github.com/harlow/kinesis-consumer/blob/master/store/ddb/ddb.go#L88):

[code]
although you're using `json` struct tag to correctly map to the field names at the table, if you do not inform `TagKey` option with `json` (https://pkg.go.dev/github.com/aws/aws-sdk-go-v2/feature/dynamodb/attributevalue#hdr-Struct_tags), the item struct w

[2021-11-05 12:47] tiagomelo commented on #142
and that leaves to a problem: https://github.com/harlow/kinesis-consumer/blob/master/store/ddb/ddb.go#L104-L108

[code]

- we are not able to use `json` struct tag, so... I've created `Namespace`, `ShardID` and `SequenceNumber` fields into the table
- then, because `GetCheckpoint` is using `namespace` and `shard_id` in lowercase, it will throw an error:
[code]

[2021-11-30 02:01] SeenYang opened #143 "Signiture change for kinesis WithClient()"
Hi, For release 0.3.5, The method signiture is:
[code]

Current master version is:
[code]

it's throwing our exception if we want to use latest `aws-sdk-go-v2`
![image](https://user-images.githubusercontent.com/15993720/143972190-29e04570-98e1-4cd4-b8a7-c68a59d4aa00.png)

Cheers
Y

[2021-12-04 18:37] harlow commented on #143
@SeenYang which version are you getting the error with? master?

The `0.3.5` cut is not designed to use the AWS SDK v2

v2 sdk doesn't support kinesisiface.KinesisAPI so I created a local interface:

[code]

which the v2 client implements

[2021-12-04 19:40] harlow commented on #142
@tiagomelo thanks for submitting this issue; I was able to recreate the error and fixed as you suggested using the `dynamodbav` annotation for the checkpoint item

[2021-12-04 21:40] #142 closed

[2021-12-08 09:14] bscaka345 commented on #143
I get a similar error using the examples consumer code. For some reason, it still tries to match with kinesisiface.KinesisAPI unsuccessfully.

![Kinesis-Consumer-Client-Compile-Error](https://user-images.githubusercontent.com/95745262/145181035-f399fc3b-47fb-48d1-9097-0e0b2a718bd2.png)

[2022-03-16 13:35] rodmcelrath commented on #143
I came here to say this and ask about a fix.

# command-line-arguments
./kin.go:60:22: cannot use client (type *"github.com/aws/aws-sdk-go-v2/service/kinesis".Client) as type kinesisiface.KinesisAPI in argument to consumer.WithClient:
	*"github.com/aws/aws-sdk-go-v2/service/kinesis".Client does not implement kinesisiface.KinesisAPI (wrong type for AddTagsToStream method)
		have AddTagsToStream(con

[2022-03-17 12:30] rodmcelrath commented on #143
OK - I believe I've figured this out.  Mixing Kinesis-client that needs v2 apis with a system built with v1 apis.
Clearly I need to update my SDK version.

[2022-03-27 04:48] SeenYang commented on #143
Hi Yes. Sorry for late reply. I figured out the same case and might need to make sure they are using the same.

[2022-03-27 04:49] SeenYang commented on #143
As discussed, I recon [rodmcelrath](https://github.com/rodmcelrath) making the point thus I will close the comment. Please reopen or link to new issue if further issue found.

[2022-03-27 04:49] #143 closed

[2022-07-03 21:14] polanskya opened #145 "aws sdk v2 upgrade"
Any idea if this is still blocked?

https://github.com/awslabs/kinesis-aggregation/tree/master/go/v2

Looks like kinesis-aggregation has v2 version

[2022-07-06 15:45] harlow commented on #145
nice catch. the `main` branch now uses AWS SDK V2, and this will now use the upstream aggregation library

[2022-08-01 13:28] timo opened #147 "where did version v0.3.6-0.20210911031324-5a873d6e9fec go?"
Hi,

I'm in the enviable(?) position to want to make a reproduced build of telegraf for debugging purposes, and version 1.23.2 of telegraf depends on version 0.3.6 of this repository, but the highest release is 0.3.5. I could also not find a commit with the hash given in the version name.

[2022-09-24 12:32] bohell commented on #147
same problem.... how can I resolve it?

[2022-10-04 18:12] ckatsaras-godaddy commented on #114
Curious if anyone has an update on this issue . @thestephenstanton, did you happen to figure out a solution to this problem?

[2022-10-05 00:24] thestephenstanton commented on #114
@ckatsaras-godaddy we ended up switching to Kafka and inherited a new set of problems lol. So I never figure out how to do this.

[2022-10-05 16:11] ckatsaras-godaddy commented on #114
Ah, I see! Thanks for getting back to me so quickly! 😄

[2022-10-13 16:36] jporcelli1120 commented on #145
Am I missing something? I don't see a main branch?